<footer class="bg-dark text-center footer">
    <div>
        <div class="row">
            <div class="col-4">
                <p class="w-100">© Linertec - Derechos reservados / Diseñado por Cibertec</p>
            </div>
            <div class="col-4">
                <img [src]="fb" alt="Logo Facebook" class="ml-4">
                <img [src]="ig" alt="Logo Instagram" class="ml-4">
                <img [src]="yt" alt="Logo Youtube" class="ml-4">
            </div>
            <div class="col-4">
                <p class="w-100">Perú : +51 985 632 497 / Chile : +56 981 383 964</p>
            </div>
        </div>
    </div>
</footer>

