<intranet-header></intranet-header>

<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                    <div class="col-lg-12">
                        <div class="p-5">
                            <!--formulario 1-->
                            
                            <form 
                                *ngIf="mostrarFormulario1"
                                #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                                </div>
                                <div class="form-group">
                                    <input for="nombreUsuario" type="text" name="login" id="login" class="form-control" 
                                    placeholder="Correo" [(ngModel)]="loginUsuario.login" required>
                                </div>
                                <div class="form-group">
                                    <input for="password" type="password" name="password" id="password" class="form-control" 
                                    placeholder="Contraseña" [(ngModel)]="loginUsuario.password" required>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="chkMantenerSesion" asp-for="MantenerSesion">
                                        <label class="custom-control-label" for="chkMantenerSesion">Mantener Sesión</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                <button class="btn btn-outline-primary btn-block" [disabled]="!f.valid" href="Index.html">
                                        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
                                </button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a (click)="mostrarFormulario1 = !mostrarFormulario1; mostrarFormulario2 = !mostrarFormulario2" class="small link-style">¿Olvidó su contraseña?</a>
                                </div>
                            </form>
                            
                            
                            <!--formulario 1-->

                            <!--formulario 2-->
                            
                            <form 
                                *ngIf="mostrarFormulario2"
                                #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">¿No recuerdas tu contraseña?</h1>
                                </div>
                                <div class="form-group">
                                    <input for="nombreUsuario" type="text" name="login" id="login" class="form-control" 
                                    placeholder="Ingrese su correo electrónico" [(ngModel)]="loginUsuario.login" required>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-primary btn-block" [disabled]="!f.valid" href="Index.html">
                                        <i class="fas fa-envelope"></i> Enviar Correo
                                    </button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a (click)="mostrarFormulario1 = !mostrarFormulario1;mostrarFormulario2 = !mostrarFormulario2" class="small link-style">Iniciar Sesion</a>
                                </div>
                            </form>
                            
                            
                            <!--formulario 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


    <!--FIN NUEVO LOGIN-->

</ng-template>
