<!--Ruta del header-->


<!-- INICIO - contenido de la pagina inicio-->

<main>
    <h1>PROYECTOS</h1>
    
    <section>
        <div class="container">
            <div class="columa">
                <h2>Servicio:</h2>
                <p>Inspeccion de Thread o Let mineroducto 8" 9" y 10".</p>
                <h2>Cliente:</h2>
                <p>Minera Antamina.</p>
            </div>

            <div class="columa">
                <img src="Inspección de thread o let/foto1.png" alt="" width="200px">
                <img src="Revestimiento Interno HDPE Liner/foto1.png" alt="" width="200px">
                <img src="Inspección de thread o let/lineaazul.png" alt="" width="600px">
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="columa">
                <h2>Servicio:</h2>
                <p>Inspeccion de Thread o Let mineroducto 8" 9" y 10".</p>
                <h2>Cliente:</h2>
                <p>Minera Antamina.</p>
            </div>

            <div class="columa">
                <img src="Inspección de thread o let/foto1.png" alt="" width="200px">
                <img src="Revestimiento Interno HDPE Liner/foto1.png" alt="" width="200px">
                <img src="Inspección de thread o let/lineaazul.png" alt="" width="600px">
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="columa">
                <h2>Servicio:</h2>
                <p>Inspeccion de Thread o Let mineroducto 8" 9" y 10".</p>
                <h2>Cliente:</h2>
                <p>Minera Antamina.</p>
            </div>

            <div class="columa">
                <img src="Inspección de thread o let/foto1.png" alt="" width="200px">
                <img src="Revestimiento Interno HDPE Liner/foto1.png" alt="" width="200px">
                <img src="Inspección de thread o let/lineaazul.png" alt="" width="600px">
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="columa">
                <h2>Servicio:</h2>
                <p>Inspeccion de Thread o Let mineroducto 8" 9" y 10".</p>
                <h2>Cliente:</h2>
                <p>Minera Antamina.</p>
            </div>

            <div class="columa">
               <img src="Inspección de thread o let/foto1.png" alt="" width="200px"> 
               <img src="Revestimiento Interno HDPE Liner/foto1.png" alt="" width="200px">  
                <img src="Inspección de thread o let/lineaazul.png" alt="" width="600px">
            </div>
        </div>
    </section>

    <!--paginacion-->
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>

</main>

<!-- FIN - contenido de la pagina inicio-->


<!--Ruta del footer-->