<!--Ruta del header-->


<!-- INICIO - contenido de la pagina inicio-->

<main>
    <section>
        <h1>LLENE EL SIGUIENTE FORMULARIO</h1>
        <form method="post" action="/">
            <fieldset>
                <legend>Informacion personal</legend>
                <div>
                    <label>Nombre:
                        <input type="text" name="name" id="name" placeholder="Sebastian">
                    </label>
                </div>
                <div>
                    <label>Apellido:
                        <input type="text" name="name" id="name" placeholder="Sebastian">
                    </label>
                </div>
                <div>
                    <label>Celular:
                        <input type="text" name="name" id="name" placeholder="Sebastian">
                    </label>
                </div>
                <div>
                    <label>Correo:
                        <input type="email" name="name" id="name" placeholder="Sebastian">
                    </label>
                </div>
                <div>
                    <label>Asunto:
                        <input type="text" name="name" id="name" placeholder="Sebastian">
                    </label>
                </div>
                <button>Enviar</button>
            </fieldset>
        </form>
    </section>

    <section>
        <h3>Encuentranos o llamanos:</h3>
        <p>Av.Javier Prado</p>
        <p>Pasaje Ernesto Barros Jarpa</p>
        <h3>Escribenos:</h3>
        <p>cguerrero@linertec.com.pe</p>
    </section>

    <section>
        <img src="Contáctenos/foto1.png" alt="" width="300px">
        <img src="Contáctenos/linea.png" alt="" width="300px">
    </section>
</main>

<!-- FIN - contenido de la pagina inicio-->


<!--Ruta del footer-->
<app-footer></app-footer>