
  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-7 order-md-1">
        <h2 class="featurette-heading">Lincertec <span class="text-muted">Peru avanza.</span></h2>
        <p class="lead"> More placeholder content here to give you an idea of hocontent in .</p>
        <button>Servicios</button>
      </div>
      <div class="col-md-5 order-md-2">
        <img [src]="fotoUno" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Lincertec <span class="text-muted">Peru avanza.</span></h2>
        <p class="lead"> More placeholder content here to give you an idea of hocontent in .</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img [src]="logoLinertec" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">

      <div class="col-lg-3">
        <img [src]="logoUno" alt="">
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3">
        <img [src]="logoDos" alt="">
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3">
        <img [src]="logoTres" alt="">
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-3">
        <img [src]="logoCuatro" alt="">
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <hr class="featurette-divider">

    <div class="row featurette">

      <div class="col-md-7 order-md-1">
        <h2 class="featurette-heading">Lincertec <span class="text-muted">Peru avanza.</span></h2>
        <p class="lead"> More placeholder content here to give you an idea of hocontent in .</p>
      </div>
      <div class="col-md-5 order-md-2">
        <img [src]="contactenos" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="">
      </div>
      
    </div>
   
  </div><!-- /.container -->

