<!--Ruta del header-->


<!-- INICIO - contenido de la pagina inicio-->
<main>
    <section id="section__uno">
        <div class="container">
            <div class="column">
                <h1>SISTEMA DE REVESTIMIENTO INTERNO DE HDPE LINER</h1>
                <p>para tuberia de acero carbono, con la finalidad de mitigar 
                    la corrosion o abrasion del fluido a transportar</p>
                <button>Servicios</button>   
            </div>
            <div class="column">
                <img src="Home/foto01.png" alt="">
                <img src="Home/linea1slider.png" alt="">
                <img src="Home/linea2slider.png" alt="">
            </div>
        </div>
    </section>


    <section id="section__dos" >
        <div class="container">
            <div class="column">
                <img src="Home/logolinertec.png" alt="Imagen Izquierda">
            </div>
            <div class="column">
                <h1>CONTAMOS CON MAS DE 20 AÑOS DE EXPERIENCIA</h1>
                <button>Conocenos</button>
            </div>
        </div>
    </section>


    <section id="section__tres">
        <div class="column">
            <img src="Home/icon.png" alt="">
            <h2>CALIDAD Y EFICIENCIA EN NUESTROS SERVICIOS</h2>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                 minima voluptatem dolorem modi explicabo alias cupiditateporro!</h3>
            <img src="Home/linea2slider.png" alt="">
            <h3>Leer más <img class="arrow" src="Home/arrow.png" alt="Flecha"></h3>
        </div>

        <div class="column">
            <img src="Home/icon.png" alt="">
            <h2>CALIDAD Y EFICIENCIA EN NUESTROS SERVICIOS</h2>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                minima voluptatem dolorem modi explicabo alias cupiditateporro!</h3>
            <img src="Home/linea2slider.png" alt="">
            <h3>Leer más <img class="arrow" src="Home/arrow.png" alt="Flecha"></h3>
        </div>
    </section>


    <section id="section__cuatro">
        <ul>
            <li><img src="Home/logo1.jpg" alt=""></li>
            <li><img src="Home/logo2.jpg" alt=""></li>
            <li><img src="Home/logo3.jpg" alt=""></li>
            <li><img src="Home/logo4.jpg" alt=""></li>
        </ul>
    </section>


    <section id="section__cinco">
        <div class="container">
            <div class="column">
                <h1>¿TIENES ALGUNA DUDA O CONSULTA?</h1>
                <h2>Entra al siguiente enlace y llena el formulario, le 
                    respondemos a la brevedad
                </h2>
                <button>Escribenos</button>
            </div>
            <div class="column">
                <img src="Home/contactenos.png" alt="">
            </div>
        </div>
    </section>

</main>
<!-- FIN - contenido de la pagina inicio-->


<!--Ruta del footer-->