<!--Ruta del header-->


<!-- INICIO - contenido de la pagina inicio-->

<main>

    <section id="section__uno">
        <h1>CONTAMOS MAS DE 20 AÑOS DE EXPERIENCIA</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatem, neque. Expedita deleniti veritatis nobis 
            tempore suscipit minima pariatur explicabo aut placeat
            accusamus. Officiis explicabo expedita tempora possimus
            voluptas est placeat.</p>
    </section>


    <section id="section__dos">
        <img src="Nosotros/foto1.png" alt="" width="500px">
        <img src="Nosotros/lineaazul2.png" alt="" width="200px">
    </section>


    <section id="section__tres">
        
        <div class="container">
                
            <div class="columna">
                <h1>MISION</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Beatae quis itaque quisquam soluta ipsa. Repudiandae
                    deleniti nisi, necessitatibus sed officia corrupti
                    ipsam delectus minus, totam ullam consectetur sequi!
                    A, enim.</p>

                <img src="Nosotros/lineaazul2.png" alt="" width="200px">

                <h1>MISION</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Beatae quis itaque quisquam soluta ipsa. Repudiandae
                    deleniti nisi, necessitatibus sed officia corrupti
                    ipsam delectus minus, totam ullam consectetur sequi!
                    A, enim.</p>
            </div>
            <div class="columna">
                <img src="Nosotros/foto2.png" alt="" width="400px">
            </div>
        </div>
    </section>


    <section id="section__cuatro">
        <div class="">
            <h1>VALORES</h1>
            <ul>
                <li>
                    <img src="Nosotros/icon1.png" alt="">
                    <h2>Trabajar con seguridad</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         suscipit, consequuntur sapiente sequi veritatis 
                         similique cum!</p>
                </li>
                <li>
                    <img src="Nosotros/icon2.png" alt="">
                    <h2>Trabajar con calidad</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        suscipit, consequuntur sapiente sequi veritatis 
                        similique cum!</p>
                </li>
                <li>
                    <img src="Nosotros/icon3.png" alt="">
                    <h2>Excelencia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        suscipit, consequuntur sapiente sequi veritatis 
                        similique cum!</p>
                </li>
                <li>
                    <img src="Nosotros/icon4.png" alt="">
                    <h2>Integridad</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       suscipit, consequuntur sapiente sequi veritatis 
                        similique cum!</p>
                </li>
                <li>
                    <img src="Nosotros/icon5.png" alt="">
                    <h2>Confianza</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        suscipit, consequuntur sapiente sequi veritatis 
                        similique cum!</p>
                </li>
                <li>
                    <img src="Nosotros/icon6.png" alt="">
                    <h2>Compromiso</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        suscipit, consequuntur sapiente sequi veritatis 
                        similique cum!</p>
                </li>
            </ul>
        </div>
    </section>

</main>

<!-- FIN - contenido de la pagina inicio-->


<!--Ruta del footer-->